.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  gap: 20px;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin-right: 50px;
}

.nav-links li {
  display: inline;
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.nav-links a:hover {
  color: gray;
}
